In [15]:
pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\guill\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\guill\anaconda3\lib\site-packages (from TextBlob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\guill\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (2022.7.9)
Requirement already satisfied: click in c:\users\guill\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (8.0.4)
Requirement already satisfied: joblib in c:\users\guill\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (1.1.0)
Requirement already satisfied: tqdm in c:\users\guill\anaconda3\lib\site-packages (from nltk>=3.1->TextBlob) (4.64.1)
Requirement already satisfied: colorama in c:\users\guill\anaconda3\lib\site-packages (from click->nltk>=3.1->TextBlob) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import csv
import nltk
from nltk .corpus import stopwords
from nltk import word_tokenize
from textblob import TextBlob
import string
import re
import pandas as pd
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\guill\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [52]:
df = pd.read_csv('tweets.csv', header=None, names=['text'], on_bad_lines='skip', encoding= 'unicode_escape')
df.head(10)

                                                text
0  is upset that he can't update his Facebook by ...
1  @Kenichan I dived many times for the ball. Man...
2  my whole body feels itchy and like its on fire...
3                @Kwesidei not the whole crew ;;;;;;
4                                  Need a hug ;;;;;;
5         @Tatiana_K nope they didn't have it ;;;;;;
6                    @twittera que me muera ? ;;;;;;
7  spring break in plain city... it's snowing ;;;;;;
8                   I just re-pierced my ears ;;;;;;
9  @caregiving I couldn't bear to watch it.  And ...

In [53]:
# Creamos la funcion 'limpiar_texto' que va a remover las stopwords y otros elementos  
def limpiar_texto(text):  
    stopWords = set(stopwords.words('english'))
    text = str(text)
    text = re.sub(r'@[A-Za-z0-9]+', ' ', text) #Elimina las menciones
    text = re.sub(r'RT[|\s]', ' ', text) # Elimina los RTs
    text = re.sub(r'#', ' ', text) #Elimina los hashtags
    text = re.sub(r'https?:\/\/\S+', ' ', text) #Elimina los enlaces

    pattern = r'''(?x)                 # Activa la opcion que permite expresiones regulares
               (?:[A-Z]\.)+            # abreviaturas
               | \w+(?:-\w+)*          # Palabras con guiones externos que pueden ser opcionales
               | \$?\d+(?:\.\d+)?%?    # Monedas y porcentajes
               | \.\.\.                # Elipsis
              | [][.,;"'?():-_`]       #Tokens separados
               '''
    words = nltk.regexp_tokenize(text, pattern)
    delete_punt = re.compile('[%s]' % re.escape(string.punctuation)) # Elimina signos de puntuacion
    stripped = [delete_punt.sub('', w) for w in words]
    delete_stopwords = [w for w in stripped if  w.lower() not in stopWords] # Elimina las stopwords

    return (" ".join(delete_stopwords))

In [54]:
df['tweets_transform'] = df['text'].apply(limpiar_texto)
data

,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!;;;;;;,tweets_transform
0,@Kenichan I dived many times for the ball. Man...,NaN
1,my whole body feels itchy and like its on fire...,NaN
2,@Kwesidei not the whole crew ;;;;;;,NaN
3,Need a hug ;;;;;;,NaN
4,@Tatiana_K nope they didn't have it ;;;;;;,NaN
...,...,...
768,@lisaholmes you can buy my fiances duplex in T...,NaN
769,@apleaforaaron i could really eat some cheese ...,NaN
770,@ddlovato I am so FUCKING jealous of you girl....,NaN
771,@ThaStevieG my bunnys name was Lucy you can g...,NaN
772,@pixelpipe any updates for iPhone OS 3.0 yet? ...,NaN

In [ ]:
#Con esta funciÃ³n, mediante la libreria TextBlob analizamos la polaridad. Este valor, que oscila entre 1 y -1 nos indica que
#el tweet es positivo si su valor es cercano al 1, neutro si el valor es 0 y negativo si su valor es cercano al -1.
def analisis_sentimiento(text):
  text = str(text)
  if text != '':
    analisis = TextBlob(text)
    if analisis.detect_language() == 'es': 
      analisis = analisis.translate(from_lang='es', to='en').sentiment
      sentiment = analisis.polarity
      return sentiment

In [ ]:
df['polarity'] = df['limpiar_texto'].apply(analisis_sentimiento)
df